*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'segoe UI', sans-serif;
}
body{
background-color: #0e0f12;
color: #f1f1f1;
left: 1.6;
padding: 0 10%;
}
header{
    background-color: #1c1c1c;
    color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
}
.logo{
font-size: 24px;
font-weight: bold;
}
.logo span{
color: #7ab8f2;
}
nav{
display: flex;
align-items: center;
gap: 20px;
}
.cv-btn{
padding: 8px 15px;
background-color: #7ab8f2;
color: #fff;
text-decoration: none;
border-radius: 4px;
font-weight: bold;
}
.cv-btn:hover{
background-color: #3b73a8;
}
nav ul{
display: flex;
gap: 20px;
list-style: none;
}
nav a{
color: #f1f1f1;
text-decoration: none;
}
nav ul a{
color: #fff;
}
.hero{
display: flex;
justify-content: space-between;
align-items: center;
gap: 40px;
padding: 60px 20px;
flex-wrap: wrap;
}
.skills{
flex: 1;
color: #fff;
}
.skills h2{
color: #7ab8f2;
margin-bottom: 15px;
}
.skills ul{
list-style: square;
padding-left: 20px;
}
.skills li{
margin-bottom: 10px;
}
.hero-text h1{
font-size: 48px;
}
.hero-textp{
margin: 20px 0;
}
.btn{
background-color: #7ab8f2;
color: #fff;
padding: 10px 20px;
display: inline-block;
text-decoration: none;
border: 15px;
cursor: pointer;
transition: background 0.3s;
}
.btn:hover{
background-color: #555;
}
.services{
margin: 60px 0;
}
.service-list{
display: flex;
gap: 20px;
margin-top: 20px;
}
.service-card{
background-color: #1a1a1a;
padding: 20px;
flex: 1;
border-radius: 8px;
transition: transform 0.4s ease;box-shadow: 0.4s ease;
}
.service-card:hover{
transform:  scale(1.2);
box-shadow: 0 10px 25px #7ab8f2;
}
.contact{
margin: 60px 0;
}
form{
display: flex;
flex-direction: column;
gap: 15px;
margin-top: 20px;
}
input, textarea{
padding: 10px;
border: none;
border-radius: 4px;
}
.hero-img img {
border-radius: 50%;
width: 250px;
height: auto;
box-shadow: 0 10px 20px rgba(0,0,0,0.4);
transition: transform 0.4s ease; box-shadow: 0.4s ease;
}
.hero-text{
flex: 1;
color: #fff;
}
.hero-text h1{
font-size: 32px;
margin-bottom: 15px;
}
.hero-img img:hover{
transform: scale(1.5);
box-shadow: 0 10px 25px rgba(245, 242, 242, 0.4);
}
.stats{
padding: 60px 20px;
text-align: center;
background-color: #1a1a1a;
color: #fff;
}
.stats h2{
margin-bottom: 40px;
font-size: 32px;
}
.stats-grid{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 30px;
}
.stats-box{
background-color: #222;
padding: 30px;
border-radius: 8px;
width: 150px;
transition: transform 0.4s;box-shadow: 0.4s ease;
}
.stats-box h3{
font-size: 28px;
color: #7ab8f2;
}
.stats-box:hover{
transform:  scale(1.2);
box-shadow: 0 10px 25px #7ab8f2;
}
.hero-text h1 span{
color: #7ab8f2;}
footer{
text-align: center;
padding: 20px;
background-color: #111;
color: #777;
margin-top: 40px;
}
.avis-section{
padding: 60px 20px;
background-color: #0e0f12;
color: #fff;
max-width: 800px;
margin: auto;
text-align: center;
}
.avis-section h2{
color: #7ab8f2;
margin-bottom: 30px;
}
#avis-form{
display: flex;
flex-direction: column;
gap: 15px;
margin-bottom: 30px;
}
#avis-form input, #avis-form textarea{
padding: 10px;
border: none;
border-radius: 5px;
background: #1a1a1a;
color: #fff;
}
#avis-form button {
padding: 10px;
background-color: #7ab8f2;
color: #000;
border: none;
border-radius: 5px;
cursor: pointer;
font-weight: bold;
transition: background 0.3s;
}
#avis-form button:hover{
background-color: #3a444d;
}
#avis-list{
text-align: left;
display: flex;
flex-direction: column;
gap: 15px;
}
.avis-item{
background-color: #1c1c1c;
padding: 15px;
border-radius: 5px;
border-left: 4px solid #7ab8f2;
}
.avis-item strong{
color: #7ab8f2;
}