*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'segoe UI', sans-serif;
}
body{
background-color: #0e0f12;
color: #f1f1f1;
left: 1.6;
padding: 0 10%;
}
header{
    background-color: #1c1c1c;
    color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
}
.logo{
font-size: 24px;
font-weight: bold;
}
.logo span{
color: #7ab8f2;
}
nav{
display: flex;
align-items: center;
gap: 20px;
}
.cv-btn{
padding: 8px 15px;
background-color: #7ab8f2;
color: #fff;
text-decoration: none;
border-radius: 4px;
font-weight: bold;
}
.cv-btn:hover{
background-color: #3b73a8;
}
nav ul{
display: flex;
gap: 20px;
list-style: none;
}
nav a{
color: #f1f1f1;
text-decoration: none;
}
nav ul a{
color: #fff;
}
.projects{
padding: 60px 20px;
background-color: #0e0f12;
color: #fff;
text-align: center;
}
.projects h2{
font-size: 32px;
margin-bottom: 40px;
color: #7ab8f2;
}
.project-list{
display: grid;
grid-template-columns: repeat(auto-fit, minimax(260px, 1fr));
gap: 30px;
}
.project-card{
background-color: #1a1a1a;
padding: 25px;
border-radius: 8px;
box-shadow: 0 4px 10px rgba(0,0,0,0.5);
transition: transform 0.3s, box-shadow 0.3s;
}
.project-card:hover{
transform: translateY(-5px);
box-shadow: 0 10px 25px #7ab8f2;
}
.project-card h3 {
font-size: 20px;
color: #fff;
margin-bottom: 15px;
}
.project-card p{
font-size: 14px;
color: white;
margin-bottom: 10px;
}
.project-card .btn{
background-color: #7ab8f2;
color: #fff;
padding: 8px 16px;
text-decoration: none;
border-radius: 4px;
font-weight: bold;
transition: background-color 0.3s;
}
.project-card .btn:hover{
background-color: #5a9cdc;
}
footer{
text-align: center;
padding: 20px;
background-color: #111;
color: #777;
margin-top: 40px;
}