*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'segoe UI', sans-serif;
}
body{
background-color: #0e0f12;
color: #f1f1f1;
left: 1.6;
padding: 0 10%;
}
header{
    background-color: #1c1c1c;
    color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 0;
}
.logo{
font-size: 24px;
font-weight: bold;
}
.logo span{
color: #7ab8f2;
}
nav{
display: flex;
align-items: center;
gap: 20px;
}
.cv-btn{
padding: 8px 15px;
background-color: #7ab8f2;
color: #fff;
text-decoration: none;
border-radius: 4px;
font-weight: bold;
}
.cv-btn:hover{
background-color: #3b73a8;
}
nav ul{
display: flex;
gap: 20px;
list-style: none;
}
nav a{
color: #f1f1f1;
text-decoration: none;
}
nav ul a{
color: #fff;
}
.about{
display: flex;
justify-content: space-between;
align-items: center;
margin: 60px 0;
}
.about-text {
flex: 1;
}
.about-img{
flex: 1;
height: 200px;
background-color: #222;
margin-left: 30px;
}
.about-img img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;box-shadow: 0.4s ease;
}
.About-img img:hover{
transform: scale(1.5);
box-shadow: 0 10px 25px rgba(245, 242, 242, 0.4);
}
.skills-section{
background-color: #1a1a1a;
padding: 20px 20px;
color: #fff;
text-align: left;
max-width: 700px;
margin: 0 auto;
}
.skills-section h2 {
text-align: center;
margin-bottom: 40px;
color: #7ab8f2;
}
.skill-bar{
margin: 25px;
}
.skill-bar p{
margin-bottom: 8px;
font-weight: bold;
}
.bar{
background-color: #333;
height: 10px;
border-radius: 5px;
overflow: hidden;
}
.fill1{
background-color: #7ab8f2;
height: 100%;
width: 0;
animation: grow 2s ease forwards;
}
@keyframes grow{
to {width: 92%;}
}
.fill2{
background-color: #7ab8f2;
height: 100%;
width: 0;
animation: gras 2s ease forwards;
}
@keyframes gras{
to {width: 85%;}
}
.fill3{
background-color: #7ab8f2;
height: 100%;
width: 0;
animation: gris 2s ease forwards;
}
@keyframes gris{
to {width: 60%;}
}
.fill4{
background-color: #7ab8f2;
height: 100%;
width: 0;
animation: grus 2s ease forwards;
}
@keyframes grus{
to {width: 72%;}
}
.fill5{
background-color: #7ab8f2;
height: 100%;
width: 0;
animation: gres 2s ease forwards;
}
@keyframes gres{
to {width: 75%;}
}
footer{
text-align: center;
padding: 20px;
background-color: #111;
color: #777;
margin-top: 40px;
}